@import '/src/styles/variables.module.scss';

.myButton {
  position: relative;
  display: flex;
  align-items: center;
  padding: 7px 24px;
  background: $white;
  border: 1px solid $gray-primary;
  border-radius: 5px;
  @include size-16-bold;
  transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    border: 1px solid $gray-focus;
  }
  &:focus {
    border: 1px solid $gray-focus;
  }
  &:active {
    background-color: $gray-primary;
    border: 1px solid $gray-primary;
  }
  .myButton__block {
    display: flex;
    align-items: center;

    span {
      margin: 0 10px;
    }
    .cover__downloader {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      overflow: none;
      cursor: pointer;
    }
  }
}