
$black: #000000;
$white: #FFFFFF;
$gray-light: #F3F3F3;
$gray-dark: #D4D4D4;
$gray-mid: #E6E6E6;
$red: #F00000;


@mixin size-12 {
  font-weight: 400;
  font-size: 12px;
  line-height: 160%;
}

@mixin size-16 {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
}

@mixin size-16-bold {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
}

@mixin size-18 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

@mixin size-30 {
  font-weight: 500;
  font-size: 30px;
  line-height: 140%;
}

