@import '/src//styles/variables.module.scss';

.footer {
  @include bt;

  .footer__content {
    @include fl-row-ai-center;
    justify-content: center;
    padding: 23px 0;
  }

  .footer__question {
    color: $gray-dark;
  }
  .footer__link {
    font-weight: 500;
  }
}